@model Page

<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="Content" />

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Page Info</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6 col-md-4">					
				<div class="form-group">
					<label asp-for="Name">Name</label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Path">Path</label>
					<input asp-for="Path" class="form-control" />
					<span asp-validation-for="Path" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Canonical">Canonical</label>
					<input asp-for="Canonical" class="form-control" />
					<span asp-validation-for="Canonical" class="text-danger"></span>
				</div>				
			</div>
			<div class="col-sm-6 col-md-4">				
				<div class="form-group">
					<label asp-for="Title">Title</label>
					<input asp-for="Title" class="form-control" />
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Description">Description</label>
					<textarea asp-for="Description" class="form-control"></textarea>
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group row col-md-6">
					<label asp-for="IsActive">Active</label>
					<select asp-for="IsActive" class="form-control">
						<option value="true">Yes</option>
						<option value="false">No</option>
					</select>
					<span asp-validation-for="IsActive" class="text-danger"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Content</h3>
	</div>
	<div class="panel-body">
		@Html.Partial("_Editor", Model?.Content)
		<span asp-validation-for="Content" class="text-danger"></span>
	</div>
</div>


